grist/.snakemake/
grist/genbank_cache/
grist/jobs/
grist/outputs.1env_sample
grist/outputs.9env_samples/
assemblies/*.d
assemblies/*.gz
assemblies/*.sig
assemblies/.snakemake/
containment/*.sig
containment/*.csv
containment/*.zip
containment/.snakemake/
gprefetch/*.csv
gprefetch/.snakemake/
gprefetch/Snakefile.save
subtract/*.gz
subtract/*.fa
subtract/*.d
subtract/*.bam
subtract/.snakemake/
